  
body{
    width: 100%; 
    background-image: url("../img/calculator-desk-finance-1253591.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a:hover{
    text-decoration: none;
}

.row{
    padding-top: 5%;
    width: 90%;
    margin: 0 5%;
}

.form-container{
    margin: 2% 0;
    padding: 9%;
    background: rgba(248, 245, 245, 0.863);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.6s ease-in-out;
}

.gradient-bg{
    background: linear-gradient(162.67deg, rgba(118, 50, 89, 0.67) 10.72%, rgba(39, 87, 177, 0.71) 52.65%, rgba(130, 222, 255, 0.88) 91.46%);
}

.col-md-4{
    padding: 10% 6% 5%;
}

h1{
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    line-height: 42px;
}

.hygieia{
    line-height: 30px;
}

.details{
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
}

.input-group-text{
    background: #fff;
}

.input-group{
    margin-bottom: 5%; 
}

.forgot{
    margin-top: -5%;
    margin-bottom: 1rem;
}

.forgot a{
    font-size: 12px;
}

.fa-arrow-alt-circle-right, .fa-arrow-alt-circle-left{
    color: #fff;    
}

.sign-in{
    margin-bottom: 10%;
}

.adjust{
    padding: 5% 10%;
}

.loader-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:rgb(118, 50, 89);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

@media screen and (max-width: 760px){
    
.col-md-6, .col-md-4{
    margin: 0;
    padding: 5%;
}

.col-md-4{
    padding-top: 3%;
}

.form-input{
    padding:5% 0 0;
    margin: 0;
}

.form-container{
    padding-top: 15%;
}

.row{
    padding-top: 0;
}

}