body{
	background-color: #F3F7FD;
	font-family: 'Roboto', sans-serif;
}
.col-md-6{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
#summaryTable th.top{
	border-top: none !important;
	text-align: center;
}

.liabcol{
	background: #F9F9FB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#valueTable th.top{
	text-transform: uppercase;
	text-decoration: underline;
	border-top: none !important;
	border-bottom: none !important;
}
.row{
	padding: 3%;
}
nav li{
	list-style-type: none;
}
a{
	color: #6B4F81;
}
a:hover{
	text-decoration: none;
}
.navbar-brand{
	padding: 1em 2em 1em 2em ;
	background-color: #fff;
	border-radius: 10px;
	text-align: center;
	margin-left: 1em;
	margin-bottom: 30px;
	font-weight: bold;
	color:#000;
}
svg{
	margin-right: 20px;
}
.bg-light{
	background-color: #F3F7FD !important;
}
.naira{
	text-decoration: line-through;
	text-decoration-style: double;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.2rem;
	vertical-align: top;
}
.table .figure{
	font-size: 2em;
}
#networth{
	text-align: center;
	background: #F9F9FB;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 1em 2em 1em 2em ;
	margin: 8%;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}
#networth .h-text{
	color: rgba(0, 0, 0, 0.5);
}
#networth .naira{
	vertical-align: top;
	margin-right: 5px;
}
.nav-right{
	margin-top: 4em;
}
.nav-right img{
	float: center;
	margin-left: 40%;
	margin-bottom: 5px;

}
.nav-right p, .nav-right h3{
	line-height: 1em;
	text-align: center;
}

.nav-right .text-right{
	float: right;
}
p.summaryText {
	padding: 10px;
	background-color: #fff;
	color:#000;
	border-radius: 5px;
	margin-left: 30%;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
}

#netassets{
	text-align: center;
	background: #F9F9FB;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 1em;
	margin: 8%;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	font-size: 1.5em;
}
#netassets .h-text{
	color: rgba(0, 0, 0, 0.5);
}
#netassets .naira{
	vertical-align: top
	}

.mb-2{
padding: 8px;
}
form .btn-primary{
	padding: 8px;
	width: 20%;
}
#live-chat{
	float: right;
	border-radius: 50%;
	background-color: #fff;
	padding: 5px;
	background-size: 50%;
	border-width: 1px;
	margin-top: 5em;
}